.head-photo {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; /* Горизонтальне вирівнювання */
  align-items: center;
  margin-top: 110px; /* Вертикальне вирівнювання */
  height: 240px; /* Встановіть висоту вашого елемента */
}
@media (max-width: 1024px) {
  .head-photo {
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Горизонтальне вирівнювання */
    align-items: center; /* Вертикальне вирівнювання */
    height: 200px; /* Встановіть висоту вашого елемента */
  }
}
@media (max-width: 768px) {
  .head-photo {
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Горизонтальне вирівнювання */
    align-items: center; /* Вертикальне вирівнювання */
    height: 240px; /* Встановіть висоту вашого елемента */
  }
}

@media (max-width: 450px) {
  .head-photo {
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Горизонтальне вирівнювання */
    align-items: center; /* Вертикальне вирівнювання */
    height: 100px; /* Встановіть висоту вашого елемента */
  }
}
.head-photo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Чорний колір з 40% прозорістю */
  z-index: 1; /* Встановлює порядок розташування псевдоелемента */
  pointer-events: none; /* Щоб маска не впливала на взаємодію з контентом */
}
.head-text {
  font-family: Arsenal;
  font-size: 65px;
  font-weight: 400;
  line-height: 81.51px;
  text-align: center;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .head-text {
    font-family: Arsenal;
    font-size: 50px;
    font-weight: 400;
    line-height: 62.7px;
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 450px) {
  .head-text {
    font-family: Arsenal;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.08px;
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.first-text {
  text-align: center;
  font-family: Arsenal;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.59px;
  color: #424b5a;
}
.upper {
  padding-top: 80px;
}
.last {
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .first-text {
    text-align: center;
    font-family: Arsenal;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.57px;
    color: #424b5a;
  }
  .upper {
    padding-top: 60px;
  }
  .last {
    padding-bottom: 60px;
    margin-bottom: 0;
  }
}
@media (max-width: 450px) {
  .first-text {
    text-align: center;
    font-family: Arsenal;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.05px;
    text-align: center;
    color: #424b5a;
  }
  .upper {
    padding-top: 30px;
  }
  .last {
    padding-bottom: 0%;
  }
}

/* section about me */

.responsive-image {
  width: 223px; /* Adjust width to 50% of its original size */
  height: 298px; /* Maintain aspect ratio */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-290px);
}
@media (max-width: 768px) {
  .responsive-image {
    width: auto; /* Adjust width to 50% of its original size */
    height: 298px; /* Maintain aspect ratio */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-330px);
  }
}
@media (max-width: 508px) {
  .responsive-image {
    width: auto; /* Adjust width to 50% of its original size */
    height: 298px; /* Maintain aspect ratio */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-390px);
  }
}

@media (max-width: 459px) {
  .responsive-image {
    width: auto;
    height: 145px; /* Maintain aspect ratio */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-230px);
  }
}

@media (max-width: 392px) {
  .responsive-image {
    width: auto;
    height: 155px; /* Maintain aspect ratio */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-250px);
  }
}

.name_designer {
  margin-top: 80px;
  font-family: Arsenal;
  font-size: 30px;
  font-weight: 400;
  line-height: 37.62px;
  text-align: center;
}
@media (max-width: 768px) {
  .name_designer {
    margin-top: 60px;
    font-family: Arsenal;
    font-size: 24px;
    font-weight: 400;
    line-height: 30.1px;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .name_designer {
    margin-top: 40px;
    font-family: Arsenal;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.56px;
    text-align: center;
  }
}

.position_designer {
  font-size: 80px;
  font-weight: bolder;
  font-family: Arsenal;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 768px) {
  .position_designer {
    font-family: Arsenal;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.56px;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .position_designer {
    font-family: Arsenal;
    font-size: 8px;
    font-weight: 400;
    line-height: 10.03px;
    text-align: center;
  }
}
.study_designer {
  font-family: Arsenal;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.08px;
  text-align: center;
  color: #424b5a;
}
@media (max-width: 768px) {
  .study_designer {
    font-family: Arsenal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.06px;
    text-align: center;
    color: #424b5a;
  }
}
@media (max-width: 450px) {
  .study_designer {
    font-family: Arsenal;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.54px;
    text-align: center;
    color: #424b5a;
  }
}
.study_designer {
  font-family: Arsenal;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.08px;
  text-align: center;
  color: #424b5a;
}
@media (max-width: 768px) {
  .study_designer {
    font-family: Arsenal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.06px;
    text-align: center;
    color: #424b5a;
  }
}
@media (max-width: 450px) {
  .study_designer {
    font-family: Arsenal;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.54px;
    text-align: center;
    color: #424b5a;
  }
}

.second_text {
  text-align: center;
  margin-left: 13%;
  margin-right: 13%;
  font-family: Arsenal;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  line-height: 35.11px;
  text-align: center;
  color: #f5f5f5;
}
@media (max-width: 768px) {
  .second_text {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arsenal;
    font-family: Arsenal;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 22.57px;
    text-align: center;

    color: #f5f5f5;
  }
}

@media (max-width: 450px) {
  .second_text {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arsenal;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    line-height: 15.05px;
    text-align: center;

    color: #f5f5f5;
  }
}

.opinie {
  color: #ffffff;
  font-family: Arsenal;
  font-size: 65px;
  font-weight: 400;
  line-height: 81.51px;
  text-align: center;
  padding-top: 20px;
  margin-top: 160px;
}
@media (max-width: 768px) {
  .opinie {
    color: #ffffff;
    font-family: Arsenal;
    font-size: 40px;
    font-weight: 400;
    line-height: 50.16px;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .opinie {
    color: #ffffff;
    font-family: Arsenal;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.08px;
    text-align: center;
    margin-top: 18pxpx;
  }
}

.opinie-text {
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 126%;
  text-align: center;
  color: #fff;
}

.opinie-h5 {
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .opinie-text {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 126%;
    text-align: center;
    color: #fff;
    /* margin-bottom: 60px; */
  }

  .opinie-h5 {
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
  }
}

@media (max-width: 450px) {
  .opinie-text {
    font-style: italic;
    font-weight: 400;
    font-size: 10px;
    line-height: 126%;
    text-align: center;
    color: #fff;
  }

  .opinie-h5 {
    font-style: italic;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
  }
}
