.back-image-kontakty {
  background-image: url("../images/BANER-KONTAKTY.png");
  background-size: cover; /* Заповнює всю область */
  background-position: center center; /* Центрує фон */
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh; /* Мінімальна висота на весь екран */
}

/* Для iPhone та мобільних пристроїв */
@media screen and (max-width: 450px) {
  .back-image-kontakty {
    background-image: url("../images/BANER-KONTAKTY.png");
    background-size: cover; /* Забезпечує покриття всієї області */
    background-position: center center; /* Центрує фон */
    background-attachment: fixed; /* Фіксує фон при скролі */
    min-height: 100vh;
  }
}
.centered {
  width: calc(100% - 30px);
  margin: 0 auto;
  margin-bottom: 60px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 165px;
}

@media screen and (max-width: 992px) {
  .cards {
    gap: 30px;
  }
}

@media screen and (max-width: 450px) {
  .cards {
    gap: 15px;
    margin: 0;
    padding: 0;
  }
}

.cards_horizont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}

@media screen and (max-width: 992px) {
  .cards_horizont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
}

@media screen and (max-width: 450px) {
  .cards_horizont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
}

.card_horizont {
  max-height: 373px;
}

li {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  color: #424b5a;
}

.gallery-main {
  margin-top: 110px;
  padding-left: 6%;
  padding-right: 6%;
}

@media screen and (max-width: 567px) {
  .card-text {
    margin-bottom: 0.5em;
  }
}

/* .card {
  margin: 5%;
  flex-direction: row;
} */

.card-body {
  padding: 0.5em 1em;
}
.card1.card_up img {
  max-width: 12em;
  height: 100%;
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}

.centered {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 165px;
} */

.card_up:hover {
  transform: scale(1.05);
}
.card_up {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.card_up img {
  width: 100%;
  height: auto;
}

.image-overlay {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.8);
}

.price {
  position: absolute;
  width: 100%;
  font-family: var(--second-family);
  font-weight: 400;
  text-align: center;
  color: #424b5a;
}

.price.large {
  top: 40%;
  font-size: 30px;
}

.price.uppercase {
  top: 50%;
  font-size: 30px;
  text-transform: uppercase;
}

.price.lowercase {
  top: 60%;
  left: -5%;
  font-size: 12px;
  text-transform: lowercase;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .price.large {
    top: 40%;
    font-size: 18px;
  }

  .price.uppercase {
    top: 50%;
    font-size: 18px;
    text-transform: uppercase;
  }

  .price.lowercase {
    top: 60%;
    left: -5%;
    font-size: 12px;
    text-transform: lowercase;
    text-align: right;
  }
}

@media screen and (max-width: 450px) {
  .image-overlay {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .price.large {
    top: 40%;
    font-size: 12px;
  }

  .price.uppercase {
    top: 50%;
    font-size: 12px;
    text-transform: uppercase;
  }

  .price.lowercase {
    top: 90%;
    left: -5%;
    font-size: 8px;
    text-transform: lowercase;
    text-align: right;
  }
}

@media screen and (max-width: 320px) {
  .image-overlay {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .price.large {
    top: 40%;
    font-size: 8px;
  }

  .price.uppercase {
    top: 50%;
    font-size: 8px;
    text-transform: uppercase;
  }

  .price.lowercase {
    top: 90%;
    left: -5%;
    font-size: 6px;
    text-transform: lowercase;
    text-align: right;
  }
}

.card {
  border: none !important;
  padding: 10px;
  margin: 10px;
}
textarea::placeholder {
  font-size: 16px;
}
input::placeholder {
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  .card {
    border: none !important;
    padding: 0;
    margin: 0;
  }
  textarea::placeholder {
    font-size: 12px;
  }
  input::placeholder {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .card {
    border: none !important;
    padding: 0;
    margin: 0;
  }
  textarea::placeholder {
    font-size: 10px;
  }
  input::placeholder {
    font-size: 10px;
  }
}
.main-kontakt {
  text-align: center;
  font-family: Arsenal;

  padding-top: 150px;
  font-size: 50px;
  font-style: italic;
  font-weight: 400;

  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  .main-kontakt {
    text-align: center;
    font-family: Arsenal;

    padding-top: 150px;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;

    text-align: center;
    color: #ffffff;
  }
  .kontakt > li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arsenal;
    font-size: 18px;
    font-weight: 400;

    letter-spacing: 1px;
    text-align: center;
    list-style: none;
    color: #ffffff;
  }
}

.about-designer-kontakt {
  font-family: Arsenal;
  font-size: 22px;
  font-weight: 400;

  text-align: left;
  color: #ffffff;
}

.flex-direction-kontakt {
  display: flex;
  flex-direction: row; /* Note: it's 'flex-direction', not 'direction' */
  justify-content: space-between;
  margin-top: 5%;
}

@media screen and (max-width: 450px) {
  .flex-direction-kontakt {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .about-designer-kontakt {
    font-family: Arsenal;
    font-size: 18px;
    font-weight: 400;

    text-align: left;
    color: #ffffff;
  }
}

@media screen and (max-width: 450px) {
  .about-designer-kontakt {
    font-family: Arsenal;
    font-size: 14px;
    font-weight: 400;

    text-align: left;
    color: #ffffff;
  }
}

.kontakt > li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arsenal;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  list-style: none;
  color: #ffffff;
}

@media screen and (max-width: 450px) {
  .main-kontakt {
    text-align: center;
    font-family: Arsenal;
    padding-top: 150px;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;

    text-align: center;
    color: #ffffff;
  }
  .kontakt > li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arsenal;
    font-size: 14px;
    font-weight: 400;

    letter-spacing: 1px;
    text-align: center;
    list-style: none;
    color: #ffffff;
  }
  .kontakt > li > svg {
    width: 8%;
    height: fit-content;
  }
}

.container-kontakt {
  display: flex;
  flex-direction: column;
  height: 20vh;
}
.card img {
  max-width: 100%;
  height: auto;
}

.card:hover {
  transform: scale(1.05);
}

.card-horizon-adaptive {
  max-width: 100%;
  height: auto;
}

.form-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 4%;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
@media screen and (max-width: 450px) {
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  outline: none;
}
.font-form {
  color: #dadada;
  font-size: medium;
}

.form-group button {
  /* Example background color */
  border: 1px solid transparent; /* Initially, the border is transparent */
  padding: 10px 20px; /* Example padding */
  cursor: pointer; /* Changes cursor to pointer when hovering over the button */
}

.form-group button:hover {
  border: 1px solid #010101; /* Border color when hovering */
}

input:disabled,
textarea:disabled,
button:disabled {
  background-color: #f0f0f0; /* Light grey background */
  color: #a0a0a0; /* Grey text */
  border: 1px solid #d0d0d0; /* Light grey border */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}

.back-image {
  background-image: url("path/to/your/image.jpg");
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

/* General styling for the form group */
.form-group-box {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

/* Styling the label */
.form-group-box label {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #dadada;
  line-height: 1.5;
  margin-left: 8px;
  cursor: pointer;
}

/* Styling the checkbox */
.form-group-box input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
  accent-color: #007bff; /* Adjust this color to match your branding */
}

/* Add some hover effect for the label */
.form-group-box label:hover {
  color: #007bff;
}

/* Optional: Responsive design for smaller screens */
@media (max-width: 600px) {
  .form-group-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group-box label {
    margin-left: 0;
    margin-top: 8px;
  }
}
