.main_slogan {
  font-family: Arsenal;
  font-size: 65px;
  font-weight: 400;
  line-height: 81.51px;
  text-align: center;
}
.description_marbella {
  color: #424b5a;

  font-family: Arsenal;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.59px;
  text-align: left;
}
