@media screen and (max-width: 567px) {
  .card-text {
    margin-bottom: 0.5em;
  }
}

.card {
  margin: 5%;
  flex-direction: row;
}
.card-body {
  padding: 0.5em 1em;
}
.card1.card img {
  max-width: 12em;
  height: 100%;
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}
